
<ion-header>

    <ion-navbar color="primary">
      <ion-title>LombaKu</ion-title>
    </ion-navbar>
  
    <ion-segment [(ngModel)]="lomba">
        <ion-segment-button value="participants">
          <div class="Head2">As Participants</div>
        </ion-segment-button>
        <ion-segment-button value="committee">
          <div class="Head2">As Committee</div>
        </ion-segment-button>
    </ion-segment>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull down to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>

    <div [ngSwitch]="lomba">
      <ion-list *ngSwitchCase="'participants'">
          <img *ngIf="!joined" src="assets/icon/calendar.png" class="image" no-lines/>
          <p *ngIf="!joined" class="paragraph">Uh-oh! You haven't registered in any <b>lomba</b> yet.</p>
          <ion-row center>
              <button ion-button icon-left (click)="joinLomba()">
                  <ion-icon name="add"></ion-icon>
                     Start Participate
              </button>    
          </ion-row>

          <div *ngFor="let join of joined">
            <ion-card *ngIf="joined"   >
              <ion-list>
                <ion-item (press)="delete(lomba.id_lomba, lomba.nama_lomba)" (click)="listJoined(join)">
                  <ion-avatar item-start item-right>
                   <img src="http://149.28.32.85:4444/getPhoto/lomba/{{join.id_pembuat}}_{{join.nama_lomba}}.jpg">
                  </ion-avatar>
                  <h2><strong>{{join.nama_lomba}}</strong></h2>   
                  <p>{{join.deadline | date: "MMM dd, yyyy"}}</p>
                </ion-item>
              </ion-list>
            </ion-card>
          </div>

      </ion-list>
  
      <ion-list *ngSwitchCase="'committee'">
          <img *ngIf="!lombah" src="assets/icon/calendar.png" class="image" no-lines/>
          <p *ngIf="!lombah" class="paragraph">Uh-oh! You haven't make any <b>lomba</b> yet.</p>
          <ion-row center>
              <button ion-button icon-left (click)="createLomba()">
                  <ion-icon name="add"></ion-icon>
                     Create Lomba
              </button>    
          </ion-row>

        <div *ngFor="let lomba of lombah">
          <ion-card *ngIf="lombah"   >
            <ion-list>
              <ion-item (press)="delete(lomba.id_lomba, lomba.nama_lomba)" (click)="listPendaftar(lomba)">
                  <ion-avatar item-start item-right>
                      <img src="http://149.28.32.85:4444/getPhoto/lomba/{{id_user}}_{{lomba.nama_lomba}}.jpg">
                    </ion-avatar>
                <h2><strong>{{lomba.nama_lomba}}</strong></h2>   
                <p>{{lomba.tanggal_ditutup | date: "MMM dd, yyyy"}}</p>
              </ion-item>
            </ion-list>
          </ion-card>
        </div>


      </ion-list>
    </div>
    
  </ion-content>
  