page-lomba-detail {
    #list {
        width: auto;
        margin: auto;
        font-size: 3;
    }
    
    #list ul {
        margin-top: 2vh;
    }
    
    #list ul li {
        text-align: left;
        list-style: disc;
        margin: auto;
    }


}
