<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detail Lomba</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-item text-center>
          <h1>{{title}}</h1>
          <p><strong>{{campus}}</strong></p>
      </ion-item>

      <ion-card>
          <img src="http://149.28.32.85:4444/getPhoto/lomba/{{id_creator}}_{{title}}.jpg" class="Item">    
      </ion-card>
  

      <ion-col col-12>
        <ion-badge item-start color="primary"><font size="3">Description</font></ion-badge>
        
        <p style="white-space: pre-wrap;">{{description}}
        </p>
      </ion-col>

      <ion-col col-12>
        <ion-badge item-start><font size="3">Terms & Condition</font></ion-badge>
        <div id="list">
          <p style="white-space: pre-wrap;">{{tnc}}</p>
          <!-- <ul>
            <li>Setiap peserta merupakan siswa dari SD-SMA/sederajat yang terdaftar di Indonesia.</li>
            <li>Setiap tim terdiri dari 1-3 orang yang berasal dari sekolah yang sama.</li>
            <li>Setiap peserta hanya boleh terdaftar kedalam satu tim.</li>
            <li>Siswa kelas 12 yang telah menyelesaikan Ujian Nasional tetap diperbolehkan mengikuti PCS JOINTS 2018.</li>
            <li>Setiap peserta harus menyelesaikan administrasi pendaftaran terakhir pada tanggal 10 April 2018.</li>
          </ul> -->
        </div>
      </ion-col>

      <ion-col col-12>
        <ion-badge item-start color="primary"><font size="3">Prize Pool</font></ion-badge>
        <pre>{{prize}}</pre>
        <!-- <ul>
          <li>1st Place: Rp3.500.000,00</li>
          <li>2nd Place: Rp2.500.000,00</li>
          <li>3rd Place: Rp1.500.000,00</li>        
        </ul> -->
      </ion-col>

      <ion-item></ion-item>

      <ion-item>
        <h2><strong>{{title}}</strong></h2>
        <ion-col col-3 item-start>
            <img src="http://149.28.32.85:4444/getPhoto/profil/{{id_creator}}.jpg" class="ava">    
        </ion-col>
        <h3>{{campus}}</h3>
        <p>{{contact}} ({{this.name}})</p>
      </ion-item>

      <button *ngIf="!show" ion-button full (click)="registerLomba(id_lomba)">Register</button>
      <button *ngIf="!show" ion-button full (click)="chat([id_creator,name])">Chat</button>
    </ion-row>
  </ion-grid>
</ion-content>

