
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Change Password</ion-title>

    <ion-buttons end>
        <button ion-button (click)="gotoOptionsPage()" icon-only>
          <ion-icon name="md-checkmark"></ion-icon>          
        </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list >          
      <ion-item>
          <ion-label stacked color="dark"><font size="3">Current</font></ion-label>
          <ion-input [(ngModel)]="pass" type="password" placeholder="Current password" value="{{pass}}" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked color="dark"><font size="3">New</font></ion-label>
          <ion-input [(ngModel)]="newpassword" type="password" placeholder="New password" minlength="8" value="{{newpassword}}" required></ion-input>
      </ion-item>

      <div ion-text [hidden]="newpassword || submitted == false" padding-left>
        <p class="Warning" color="danger" *ngIf="newpassword!=null">Password must be filled (8 character min.)</p>
      </div>

      <ion-item>
          <ion-label stacked color="dark"><font size="3">Verify</font></ion-label>
          <ion-input [(ngModel)]="verifypassword" type="password" placeholder="Re-enter new password" minlength="8" value="{{verifypassword}}" required></ion-input>
      </ion-item>

      <div ion-text [hidden]="verifypassword==newpassword" padding-left>
          <p class="Warning" color="danger" *ngIf="verifypassword!=null">Password doesn't match</p>
      </div>

      <ion-item no-lines></ion-item>
    </ion-list>


</ion-content>
