<ion-header>

    <ion-navbar color="primary">
      <ion-title>lombaKampus signUp</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <form #signupForm="ngForm" novalidate>
      <ion-list >
        
        <ion-item>
          <ion-label floating ><p class="Head">Name</p></ion-label>
          <ion-input class="Head2" [(ngModel)]="name" name="name" type="text" #nama="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        
        <p class="Warning" ion-text [hidden]="nama.valid || submitted == false" color="danger" padding-left>
          Name must be filled
        </p>
  
        <ion-item>
          <ion-label floating ><p class="Head">Email</p></ion-label>
          <ion-input class="Head2" [(ngModel)]="email" pattern="[^@\]+@[^@\]+\.[^@\s]+" name="email" type="email" #mail="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
        
        <p class="Warning" ion-text [hidden]="mail.valid || submitted == false" color="danger" padding-left>
          Email must be filled
        </p>
  
        <ion-item>
          <ion-label floating ><p class="Head">Password</p></ion-label>
          <ion-input class="Head2" [(ngModel)]="password" name="pass" type="password" minlength="8" #pass="ngModel" required>
          </ion-input>
        </ion-item>
        
        <p class="Warning" ion-text [hidden]="pass.valid || submitted == false" color="danger" padding-left>
          Password must be filled (8 character min.)
        </p>
  
        <ion-item>
          <ion-label floating ><p class="Head">Re-type Password</p></ion-label>
          <ion-input class="Head" [(ngModel)]="confPass" name="confPass" type="password" #passconfirm="ngModel" required>
          </ion-input>
  
        </ion-item>
      
        <div ion-text [hidden]="confPass==password"  padding-left>
          <p class="Warning" color="danger" *ngIf="confPass!=null">Password doesn't match</p>
        </div>
  
        <ion-item>
          <ion-label floating ><p class="Head">Phone</p></ion-label>
          <ion-input class="Head2" [(ngModel)]="telephone" (ionChange)="checkTelephone()" name="telephone" type="number" #telpon="ngModel" pattern="[0]{1}[0-9]{1,}" maxlength="13" required>
          </ion-input>
        </ion-item>
        <div ion-text [hidden]="telpon.valid || submitted == false"  padding-left>
          <p class="Warning" color="danger" *ngIf="!telephone">Phone must be filled</p>
          <p class="Warning" color="danger" *ngIf="telephone">Not a phone number</p>
        </div>

        <ion-item>
            <ion-label><font size="2" color="black">Gender</font></ion-label>
            <ion-select [(ngModel)]="sex" name="sex" #jk="ngModel" required>
            <ion-option value="L">Male</ion-option>
            <ion-option value="P">Female</ion-option>
            </ion-select>
        </ion-item>
        <p ion-text [hidden]="jk.valid || submitted == false" color="danger" padding-left>
            Pilih satu
          </p>

  
        <ion-item>
          <ion-label floating ><p class="Head">Campus</p></ion-label>
          <ion-textarea class="Head2"  [(ngModel)]="address" name="address" type="text" #alamat="ngModel" required autosize></ion-textarea>
        </ion-item>
        <p class="Warning" ion-text [hidden]="alamat.valid || submitted == false" color="danger" padding-left>
          Campus must be filled
        </p>
      </ion-list>
  
      <ion-row responsive-sm>
        <ion-col>
          <button class="Button" color="AyoDermawan" ion-button block (click)="home()" type="submit"><p class="ButtonWord">Daftar</p></button>
        </ion-col>
      </ion-row>
  
    </form>
  
  </ion-content>
  