
<ion-header>

  <ion-navbar color="primary">
      <ion-title>Profile</ion-title>
      
      <ion-buttons end>
        <button ion-button (click)="gotoOptionsPage()" icon-only>
          <ion-icon name="md-settings"></ion-icon>          
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull down to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

  <ion-card > 
		<ion-item no-lines></ion-item>
    <img *ngIf="photo" src="http://149.28.32.85:4444/getPhoto/profil/{{id_user}}.jpg" class="profile">
    <img *ngIf="!photo" src="assets/icon/profile.png" class="image" no-lines/>
		
	  <ion-card-content>
	    <ion-card-title text-center>
        <h2><b> {{nama}}</b></h2>
        <button ion-button small (click)="gotoEditProfile()">Edit Profile</button>
	      </ion-card-title>
    </ion-card-content>
  </ion-card>
  
  <ion-list>
    <ion-item>
        <ion-icon name="md-briefcase" color="primary" item-left></ion-icon>
          <font size="3">NIM</font>
          <p>{{nomor_ktm}}</p>
    </ion-item>

	  <ion-item>
	    <ion-icon name="mail" color="primary" item-left></ion-icon>
	     <font size="3">Email</font>
	     <p>{{email}}</p>
	  </ion-item>

	  <ion-item>
	    <ion-icon name="call" color="primary" item-left></ion-icon>
	     <font size="3">Phone number</font>
	     <p>{{handphone}}</p>
    </ion-item>
    
    <!-- <ion-item>
        <ion-icon name="md-female" color="primary" item-left></ion-icon>
         <font size="3">Gender</font>
         <p>Female</p>
      </ion-item> -->

	  <ion-item  text-wrap>
	    <ion-icon name="md-school" color="primary" item-left></ion-icon>
	     <font size="3">Campus</font>
	     <p>{{universitas}}</p>
	  </ion-item>
  </ion-list>

</ion-content>
