<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  	<ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull down to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

    <ion-searchbar (ionInput)="getItems($event)"  placeholder="Search lomba..."></ion-searchbar>

      <div *ngIf="search">
        <div *ngFor="let lomba of list_search">
            <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 (click)="lombaDetail(lomba)">
                        <img src="http://149.28.32.85:4444/getPhoto/lomba/{{lomba.id_user}}_{{lomba.nama_lomba}}.jpg" class="poster">                
                        <p>{{lomba.nama_lomba}}</p>
                      <p><strong>{{lomba.tempat}}</strong></p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>  
        </div>
      </div>

      <div *ngIf="!search">
          <!-- Card 1 -->
          <ion-card *ngIf="damin1">
            <ion-card-header >
              <b>Data Mining</b>
              <p>Let's become a Data Scientist.</p>
            </ion-card-header>

            <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 *ngFor="let damin of damin1" (click)="lombaDetail(damin)">
                        <img src="http://149.28.32.85:4444/getPhoto/lomba/{{damin.id_user}}_{{damin.nama_lomba}}.jpg" class="poster">                <p>{{damin.nama_lomba}}</p>
                      <p><strong>{{damin.tempat}}</strong></p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>

            </ion-card>

          <!-- Card 2 -->
          <ion-card *ngIf="bisnis1">
            <ion-card-header *ngIf="bisnis1">
              <b>Bussiness IT</b>
              <p>Have any ideas? Come on.</p>
            </ion-card-header>
            
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-6 *ngFor="let bisnis of bisnis1" (click)="lombaDetail(bisnis)">
                      <img src="http://149.28.32.85:4444/getPhoto/lomba/{{bisnis.id_user}}_{{bisnis.nama_lomba}}.jpg" class="poster">              <p>{{bisnis.nama_lomba}}</p>
                    <p><strong>{{bisnis.tempat}}</strong></p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <!-- Card 3 -->
          <ion-card *ngIf="app1">
            <ion-card-header *ngIf="app1">
              <b>Apps Development</b>
              <p>Develop your ideas, now!</p>
            </ion-card-header>
            
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-6 *ngFor="let app of app1" (click)="lombaDetail(app)">
                      <img src="http://149.28.32.85:4444/getPhoto/lomba/{{app.id_user}}_{{app.nama_lomba}}.jpg" class="poster">              
                      <p>{{app.nama_lomba}}</p>
                    <p><strong>{{app.tempat}}</strong></p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <!-- Card 4 -->
          <ion-card *ngIf="uiux1">
            <ion-card-header *ngIf="uiux1">
              <b>UI/UX Design</b>
              <p>Bring great experience to user</p>
            </ion-card-header>
            
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-6 *ngFor="let ux of uiux1" (click)="lombaDetail(ux)">
                      <img src="http://149.28.32.85:4444/getPhoto/lomba/{{ux.id_user}}_{{ux.nama_lomba}}.jpg" class="poster">             
                      <p><strong>{{ux.tempat}}</strong></p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

          <!-- Card 5 -->
          <ion-card *ngIf="ctf1">
            <ion-card-header *ngIf="ctf1">
              <b>Capture The Flag</b>
              <p>Prove your skill with this Lomba</p>
            </ion-card-header>
            
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col col-6 *ngFor="let ctf of ctf1" (click)="lombaDetail(ctf)">
                      <img src="http://149.28.32.85:4444/getPhoto/lomba/{{ctf.id_user}}_{{ctf.nama_lomba}}.jpg" class="poster">              
                      <p><strong>{{ctf.tempat}}</strong></p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
      </div>
 
    
</ion-content>
