
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf='!chatData'>
    <img src="assets/icon/chat.png" class="image" no-lines/>
    <p class="paragraph">You didn't have any <b>messages</b> right now.</p>
    <ion-row center>
        <button ion-button icon-left (click)="findLomba()">
          <ion-icon name="add"></ion-icon>
          Start Chatting
        </button>
    </ion-row>
  </div>

  <div *ngIf='chatData'>
    <div *ngFor="let chat of chatData" class="messageCard" (click)="chatDetails(chat)">
      <ion-grid no-padding>          
        <ion-row no-padding>
          <ion-col col-2 no-padding>
            <!-- <img *ngIf="data.img" class="pictHeader" src="http://156.67.218.250:81{{data.img}}"/> -->
            <img  class="pictMessage" src="assets/imgs/photo1.jpg" />             
          </ion-col>
          <ion-col col-9 no-padding class="contentMessage">
            <ion-row no-padding>
              <ion-col col-10 no-padding >
                <span class="nameMessage">{{chat}}</span>            
              </ion-col>
              <ion-col col-2 no-padding text-right>
                <span class="timeMessage">10:30</span>              
              </ion-col>
            </ion-row>
            <ion-row no-padding>
              <span class="previewMessage">Lorem ipsum dolor sit amet, testes adipiscing elit</span>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> 
  </div>
  
</ion-content>
