<!--
  Generated template for the TeampendaftarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Participants</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull down to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

  <ion-list>
    <ion-item text-center>
      <h1><strong>{{this.name}}</strong></h1>
      <h3>on <strong>{{this.title}}</strong></h3>
    </ion-item>

    <ion-item text-left><font size="4"><b>Members</b></font>
      <ul>
              <!-- <li>{{leader}}</li> -->
      <div *ngFor="let member of members">
              <li>{{member.nama}}</li>
                          
      </div>
    </ul>
    </ion-item>
    
    <ion-item text-left><font size="4"><b>Payment</b></font>
      <p *ngIf="!payment">This team haven't completed their payment.</p>
      <ion-card *ngIf="payment">
        <img  src="http://149.28.32.85:4444/getPhoto/lomba/{{id_lomba}}_{{id_adm}}.jpg"  class="Item"/>
    </ion-card>
    <button *ngIf="!conf && payment" ion-button icon-left (click)="confirm()">
      Confirm Payment
    </button>     
    <p *ngIf="conf">Payment had been confirmed.</p>
      <br>
      <!-- <button ion-button>Upload Payment Receipt</button> -->
    </ion-item>

  </ion-list>
</ion-content>
